@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins&family=Roboto+Mono:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
.Wrapper {
  width: 100%;
  height: 100%;
}
.Wrapper nav {
  padding: 10px;
  width: 100%;
  height: 12%;
  background-color: #0e21a0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav,
ul {
  display: flex;
  align-items: center;
}

nav,
li {
  display: inline;
  margin-right: 80px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #fdbb2d;
}
#btn {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  margin-left: 0px;
  border: 1px solid rgb(11, 11, 23);
  outline: none;
  font-size: medium;
  cursor: pointer;
}

.logo img {
  margin-top: 20px;
  height: 30%;
  width: 80%;
}

.main {
  width: 100%;
  height: 88%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .right {
  height: 100%;
  width: 50%;
}
#rightContent {
  margin: 8rem 0 0 6rem;
  padding: 20px;
}
#rightContent h1 {
  margin-bottom: 20px;
}
span {
  color: #0e21a0;
  font-size: 40px;
}

.btn {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  margin-left: 0px;
  border: none;
  outline: none;
  font-size: medium;
  margin-top: 20px;
  background-color: #0e21a0;
  color: aliceblue;
  cursor: pointer;
}

.Wrapper .main .left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left .leftImg img {
  height: 350px;
  width: 450px;
  transform: rotate(30deg);
  transition: all 1s ease-out;
  z-index: 0;
}
.left .leftImg img:hover {
  transform: rotate(0deg) scale(1.25);
}
